@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  min-height: max-content;
}

.container2 {
  border: 2px #6d597a;

  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.container2 img {
  width: 150px;
  height: 100px;
  margin: 30px;
}

/* Heading Logo Media query */

@media screen and (max-width: 1222px) {
  .container2 {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1222px) {
  .container2 img {
    width: 100px;
    height: 80px;
    margin: 10px;
  }
}

.container1,
.container3 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fefefe;
}

.containerh {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fefefe;
  margin: 3.6rem;
}

.highlights:hover {
  transform: scale(1.1);
}

/* Recent Highlights Media Query */

/* Champions League */

.containeri img {
  width: 200px;
  height: 100px;
}

.containeri {
  margin-top: 20px;
  margin-bottom: 20px;
}

.highlights {
  text-align: center;
  color: #777;
  width: 250px;
  margin: 30px;
  box-shadow: 0 2px 10px rgba(256, 256, 256, 0.2);
}

@media screen and (max-width: 1263px) {
  .containerh {
    justify-content: space-evenly;
  }
  .highlights {
    width: 100px;
  }
}
